.App {
  text-align: center;
}

html,
body {
  background: #06bce7;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.App-logo {
  margin: 10vh 0 5vh 0;
  height: 55vh;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tagline-attributes {
  margin: 0 10rem;
}

@media screen and (max-width: 1200px) {
  .tagline-attributes {
    margin: 0 5rem;
  }
}

@media screen and (max-width: 500px) {
  .tagline-attributes {
    margin: 0 2.5rem;
  }
}

.tagline-attributes:first-child,
.tagline-attributes:last-child {
  margin: 0;
}
