.App {
  text-align: center;
}

html,
body,
footer {
  background: #06bce7;
}

p a {color: #0d1122}

.App-logo {
  margin: 15vh 0 0vh 0;
  height: 40vh;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

